.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr;
    /* gap: 10px 0px; */
    grid-template-areas:
      "image image image"
      "edit delete hide";
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    align-items: center;
    background-color: #e7e7e7;
  }
  
  .image { grid-area: image;
    height: 150px;
   }
  
  .edit { grid-area: edit; }
  
  .delete { grid-area: delete; }
  
  .hide { grid-area: hide; }
  